/*
 Theme Name:   my site 1
 Description:  My first theme for my first WordPress site
 Author:       Surnacheva Alexandra
 Version:      1.0
 Tags:         first, pink
 Text Domain:  my-site-1
*/
/*$h = #content {
	height: auto;
}*/
body {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #B1E887;
  font-weight: bold;
  background: url(mlp.png) 50% 0%/cover no-repeat; }

#wrapper {
  display: block;
  border: 1px solid #F23A65;
  background-color: rgba(212, 34, 75, 0.8);
  width: 75%;
  margin: 0px auto; }

#header {
  padding: 0px;
  background-color: #FAF369;
  color: #D4224B; }

#content {
  width: 75%;
  display: block;
  float: right;
  background-color: rgba(177, 232, 135, 0.8);
  color: #DE3159; }

#sidebar, ul {
  width: 24%;
  display: block;
  list-style-type: none;
  float: left;
  background-color: #FAF369;
  color: #D4224B; }

ul {
  background-color: #B1E887;
  margin-left: 5%;
  padding-right: 12%;
  width: 61%;
  text-align: center; }

#delimiter {
  clear: both; }

#footer {
  background-color: #FAF369;
  color: #D4224B;
  padding: 0px; }

.title {
  font-size: 11pt;
  font-family: verdana;
  font-weight: bolder;
  color: #F23A65; }

.hh {
  color: #FAF369;
  font-size: 35px;
  font-weight: bolder; }

/*# sourceMappingURL=style.css.map */
