﻿/*
 Theme Name:   my site 1
 Description:  My first theme for my first WordPress site
 Author:       Surnacheva Alexandra
 Version:      1.0
 Tags:         first, pink
 Text Domain:  my-site-1
*/

@import "colors";
/*$h = #content {
	height: auto;
}*/

@mixin MyColor {
	background-color: $color-2;
	color: $color-5;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	color: $color-1;
	font-weight: bold;
	background: url(mlp.png) 50% 0% / cover no-repeat;
}
#wrapper {
	display: block;
	border: 1px solid $color-3;
	background-color: $col5_1;
	width: 75%;
	margin: 0px auto;
}
#header {
	padding: 0px;
	@include MyColor;
}
#content {
	width: 75%;
	display: block;
	float: right;
	background-color: $col4_1;
	color: $color-4;

}
#sidebar {
	width: 24%;
	display: block;
	list-style-type: none;
	float: left;
	@include MyColor;
}
ul {
	@extend #sidebar;
	background-color: $color-1;
	margin-left: 5%;
	padding-right: 12%;
	width: 100%-39%;
	text-align: center;
}

#delimiter {
	clear: both;
}
#footer {
	@include MyColor;
	padding: 0px;
}
.title {
	font-size: 11pt; 
	font-family: verdana; 
	font-weight: bolder;
	color: $color-3;
}
.hh {
	color: $color-2;
	font-size: 35px;
	font-weight: bolder;
}